// /* You can add global styles to this file, and also import other style files */
$dusty: #96858F;
$lavendar: #6D7993;
$overcast: #9099A2;
// $paper: #D5DSD5;

$feather: #77C9D4;
$marine: #57BC90;
$forest: #015249;
$sleekGrey: #A5A5AF;

.bkgColor-feather{
    background-color: $feather;
}
.bkgColor-marine{
    background-color: $marine;
}
.bkgColor-forest{
    background-color: $forest;
}
.bkgColor-sleekGrey{
    background-color: $sleekGrey;
}
.bkgColor-lavendar{
    background-color: $lavendar;
}
.bkgColor-overcast{
    background-color: $overcast;
}